body{
    background-color:hsl(212, 45%, 89%);
}

.container{
    width: 280px;
    height: 470px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    padding: 15px;
    border-radius: 20px;
}

img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 5px;
}

.header{
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.p{
    color: hsl(220, 15%, 55%);
    margin: 25px;
    font-weight: 400;
}